<!DOCTYPE html> 
<html> 
    <head>
      <meta charset="utf-8">
      <title>Example App</title>
      <link rel="stylesheet" type="text/css" href="{{getAsset '/styles.css'}}" />
      <script type="text/javascript" src="{{getAsset '/nacl-fast.js'}}"></script>
      <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.js?features=Promise,fetch,localStorage&unknown=polyfill"></script>
      <script type="text/javascript" src="{{getAsset '/app.js'}}"></script>
    </head> 
    <body>
      {{{body}}} 
    </body>
</html>
