<div class="content">
	<p class="hidden" id='username'></p>
	<h1 class="title"> Imprint for me </h1>
  <div>
    <h3> What is this? </h3>
	  <p> Submit a message and receive a digital signature. It's like a regular real life signature but it's...digital.  </p>
    <h3> How is that useful? </h3>
	  <p> Giving someone a signed message is practically irrevocable proof you wrote/said something. Your imagination is the limit in this application but so far I've thought of  </p>
      <ul>
        <li> Set terms of a bet </li>
        <li> Make a pseudo-contract when selling/buying cars privately </li>
        <li> Foretell the future </li>
      </ul>
    <h3> Why not just take a screenshot of an email/text? </h3>
	  <p> These are much harder to spoof </p>
  </div>
  <h2> Try it out </h2>
  <h4> <a href="/imprint"> Imprint </a> </h4>
  <h4> <a href="/verify"> Verify </a> </h4>
</div>
