<h1> I told you so! </h1>
<p>Write a message and get proof timestamped proof</p>
<textarea id="messageInput" rows=3 cols=80></textarea>
<button onclick="onCreateClick()"> Give me the proof </button>
<p class="hidden" id='username'></p>
<textarea class="hidden" id='outputBox1' rows=3 cols=80 readonly> </textarea>
<textarea class="hidden" id='outputBox2' rows=3 cols=80 readonly> </textarea>
