<h1> I told you so! </h1>
<p> The one place in the world where you can write a message and have proof you said it when you said it!</p>
<textarea id="messageInput" rows=3></textarea>
<button onclick="onCreateClick()"> Give me the proof! </button>

