<h1 class="title"> I told you so! </h1>
<p class="subtext">Write a message and get timestamped proof</p>
<textarea id="messageInput"></textarea>
<button onclick="onCreateClick()"> Give me the proof </button>
<p class="hidden" id='username'></p>
<textarea class="hidden" id='outputBox1' readonly> </textarea>
<textarea class="hidden" id='outputBox2' readonly> </textarea>
