<div class="content">
	<p class="hidden" id='username'></p>
	<h1 class="title"> Imprint for me </h1>
	<p class="subtext">Verify a message!</p>
	<textarea id="verificationInput"></textarea>
	<button onclick="onVerifyClick()"> Verify </button>
  <p class="message"></p>	
</div>
