body {
  color: #1C140D;
  background-color: #f2e9e1;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23cbe86b' fill-opacity='0.88' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.hidden {
  display: none;
}

.title, .subtext {
  text-align: center;
}

#messageInput, #outputBox1:not(.hidden), #outputBox2:not(.hidden) {
  width: 55em;
  display: block;
  margin: 1em auto;
}

#messageInput {
  height: 3rem;
}

@media (max-width: 55em) {
  #messageInput, #outputBox1:not(.hidden), #outputBox2:not(.hidden) {
    max-width: 90%;
    height: 4rem;
  }
}

button {
 display: block;
 margin: 1em auto;
}

#username {
  position: absolute;
  top: 0;
  right: 1em;
}

#outputBox1, #outputBox2 {
  resize: none;
}

/* 
 Palette
 #FFFFFF
 #CBE86B
 #F2E9E1
 #1C140D

 Create some background patterns:
 http://www.heropatterns.com/
*/
